<link rel="stylesheet" href="../static/css/font-awesome.css">
<link rel="stylesheet" href="../static/css/bootstrap.css">
<link rel="stylesheet" href="../static/css/xenon-core.css">
<link rel="stylesheet" href="../static/css/xenon-forms.css">
<link rel="stylesheet" href="../static/css/xenon-components.css">
<link rel="stylesheet" href="../static/css/xenon-skins.css">
<link rel="stylesheet" href="../static/css/custom.css">
<link rel="stylesheet" href="../static/css/daterangepicker-bs3.css">
<script src="../static/js/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="../static/js/Devexpress-web/css/dx.common.css">
<link rel="stylesheet" href="../static/js/Devexpress-web/css/dx.light.css">

<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/TweenMax.js"></script>
<script src="../static/js/resizeable.js"></script>
<script src="../static/js/joinable.js"></script>
<script src="../static/js/xenon-api.js"></script>
<script src="../static/js/xenon-toggles.js"></script>
<script src="../static/js/toastr/toastr.js"></script>
<script src="../static/js/moment.js"></script>

<script src="../static/js/jquery-ui/jquery-ui.js"></script>
<script src="../static/js/daterangepicker.js"></script>
<script src="../static/js/bootstrap-datepicker.js"></script>
<script src="../static/js/jquery.selectBoxIt.min.js"></script>
<script src="../static/js/Devexpress-web/js/jszip.js"></script>
<script src="../static/js/Devexpress-web/js/dx.all.debug.js"></script>

<script src="../static/js/xenon-custom.js"></script>
<script src="../static/js/custom.js"></script>