<!-- User Info, Notifications and Menu Bar -->
<nav class="navbar user-info-navbar" role="navigation">
    <!-- Left links for user info navbar -->
    <ul class="user-info-menu left-links list-inline list-unstyled">
        <li class="hidden-sm hidden-xs">
            <a href="#" data-toggle="sidebar">
              <i class="fa-bars"></i>
            </a>
        </li>
    </ul>
    <!-- Right links for user info navbar -->
    <ul class="user-info-menu right-links list-inline list-unstyled">
        <li class="search-form">
            <!-- You can add "always-visible" to show make the search input visible -->
            <form method="get" action="extra-search.html">
                <input type="text" name="s" class="form-control search-field" placeholder="Type to search..." />
                <button type="submit" class="btn btn-link">
                    <i class="fa-search"></i>
                </button>
            </form>
        </li>
        {% if userinfo.uname == None %}
        <li><a href="/login/"><img src="../static/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" /><span>  Login</span></a></li>
        {% else %}
        <li class="dropdown user-profile">
            <a href="#" data-toggle="dropdown">
              <img src="../static/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
              <span>
                {{userinfo.uname}}
                <i class="fa-angle-down"></i>
              </span>
            </a>
            <ul class="dropdown-menu user-profile-menu list-unstyled">
                <li id="cannot">
                    <a href="#">
                  <i class="fa-wrench"></i>
                  更改登录密码
                </a>
                </li>
                <li class="last" id=logoutbtn>
                    <a href="#">
                  <i class="fa-lock"></i>
                  退出登录
                </a>
                </li>
            </ul>
        </li>
        <script type="text/javascript">
        $('#logoutbtn').click(function() {
            $.ajax({
                url: "../apis/",
                method: 'POST',
                dataType: 'json',
                data: {
                    methodname: 'logout',
                    parameters: '{"nothing":"None"}'
                },
                success: function(resp) {
                    window.location.href = '/';
                }
            });
        });
        $('#cannot').click(function() {
            toastr.warning("暂时不能更改密码!", "提示", {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            });
        });
        </script>
        {% endif %}
    </ul>
</nav>