<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Xenon Boostrap Admin Panel" />
    <meta name="author" content="lixuanwen" />
    <title>商事登记与代码应用研究所</title>
    {% include "frame/Import.html" %}
</head>

<body class="page-body">
    <div class="page-container">
        {% include "frame/Sidebar.html" %}
        <div class="main-content">
            {% include "frame/Menubar.html" %}
            <div class="panel panel-default" style="height:607px">
                <div class="panel-heading">
                    <h3 class="panel-title">存量数据统计</h3>
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-1" data-toggle="tab">行政区划按月统计</a></li>
                            <li><a href="#tab-2" data-toggle="tab">行政区划分布统计</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-1">
                            <form role="form" class="form-inline">
                                <div class="form-group">
                                    <label class="control-label">请输入起止日期</label>
                                </div>
                                <div class="form-group">
                                    <!--
                                    <input id="xzqhpmon_dr" class="daterange daterange-inline add-ranges" data-format="YYYY-MM-DD" value="2018-04-01 - 2018-04-30" />-->
                                    <div class="daterange daterange-inline add-ranges" data-format="YYYY-MM-DD" data-start-date="2014-09-15" data-end-date="2015-09-15">
                                        <i class="fa-calendar"></i>
                                        <span id="xzqhpmon_dr">2014-09-15 - 2015-09-15</span>
                                    </div>
                                    <script type="text/javascript">
                                    jQuery(document).ready(function($) {
                                        var btime = moment().subtract(12, 'month').format('YYYY-MM-DD');
                                        var etime = moment().subtract(1, 'days').format('YYYY-MM-DD');
                                        $('#xzqhpmon_dr').parent().attr('data-start-date', btime);
                                        $('#xzqhpmon_dr').parent().attr('data-end-date', etime);
                                        $('#xzqhpmon_dr').html(btime + ' - ' + etime);
                                    });
                                    </script>
                                </div>
                                <!--<div class="form-group"></div>-->
                                <div class="form-group">
                                    <label class="control-label">请选择行政区划</label>
                                </div>
                                <div class="form-group">
                                    <script type="text/javascript">
                                    jQuery(document).ready(function($) {
                                        $("#sboxit-1").selectBoxIt().on('open', function() {
                                            // Adding Custom Scrollbar
                                            $(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
                                        });
                                        $("#sboxit-1").parent().children("span").children("span").attr("style", "width:182px");

                                    });
                                    </script>
                                    <select class="form-control" id="sboxit-1">
                                        <option value="福田区">福田区</option>
                                        <option value="南山区">南山区</option>
                                        <option value="宝安区">宝安区</option>
                                        <option value="罗湖区">罗湖区</option>
                                        <option value="龙岗区">龙岗区</option>
                                        <option value="大鹏区">大鹏区</option>
                                        <option value="龙华区">龙华区</option>
                                        <option value="盐田区">盐田区</option>
                                        <option value="光明区">光明区</option>
                                        <option value="坪山区">坪山区</option>
                                        <option value="南山非前海">南山非前海</option>
                                        <option value="南山前海">南山前海</option>
                                        <option value="全市">全市</option>
                                    </select>
                                </div>
                                <div class="form-group pull-right">
                                    <button id="xzqhpmon_btn" class="btn btn-secondary btn-single" type="button">查询</button>
                                </div>
                            </form>
                            <div id="gridContainer-1" style="padding-top:10px;height:480px"></div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <form role="form" class="form-inline">
                                <div class="form-group">
                                    <label class="control-label">请输入截止日期</label>
                                </div>
                                <div class="form-group">
                                    <!--
                                    <input id="xzqhpmon_dr" class="daterange daterange-inline add-ranges" data-format="YYYY-MM-DD" value="2018-04-01 - 2018-04-30" />-->
                                    <input id="monpxzqh_dt" type="text" class="form-control datepicker" data-start-view="2" style="padding-top: 5px;padding-bottom: 5px;height:32px" format="yyyy-mm-dd">
                                    <script type="text/javascript">
                                    jQuery(document).ready(function($) {
                                        var mydate = new Date();
                                        var time = "" + mydate.getFullYear() + "-" + ("0" + String(mydate.getMonth() + 1)).slice(-2) + "-01";
                                        $('#monpxzqh_dt').attr("value", time);
                                    });
                                    </script>
                                </div>
                                <!--<div class="form-group"></div>-->
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="monpxzqh_cb">
                                            合并南山前海到南山区
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group pull-right">
                                    <button id="monpxzqh_btn" class="btn btn-secondary btn-single" type="button">查询</button>                                    
                                </div>  
                            </form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div id="gridContainer-2" style="padding-top:10px;height:480px"></div>
                                </div>
                                <div class="col-sm-6">     
                                    <div class="panel panel-default" style="height:480px">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">各行政区划分布图</h3>
                                            <div class="panel-options">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#tab-3" data-toggle="tab">商事主体</a></li>
                                                    <li><a href="#tab-4" data-toggle="tab">企业</a></li>
                                                    <li><a href="#tab-5" data-toggle="tab">个体</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab-3">
                                                    <div id="chartContainer-2" style="width:506px"></div>
                                                </div>
                                                <div class="tab-pane" id="tab-4">
                                                    <div id="chartContainer-3" style="width:506px"></div>
                                                </div>
                                                <div class="tab-pane" id="tab-5">
                                                    <div id="chartContainer-4" style="width:506px"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "frame/Footer.html" %}
        </div>
    </div>

    <!--函数方法，数据调用-->
    <script type="text/javascript">
    $('#xzqhpmon_btn').click(function() {
        var begintime, endtime, xzqh, p,filename;
        begintime = $('#xzqhpmon_dr').text().split(' - ')[0];
        endtime = $('#xzqhpmon_dr').text().split(' - ')[1];
        xzqh = $("#sboxit-1").parent().children("span").children("span").text();
        p = {
            methodname: 'xzqhpmon',
            parameters: '{"begintime":"' + begintime + '","endtime":"' + endtime + '","xzqh":"' + xzqh + '"}'
        }
        filename=begintime.substr(0,7)+"到"+endtime.substr(0,7)+"存量数据"
        var cols = ["行政区划", "截止日期", "商事主体总量", "企业数量", {dataField:"企业占比",format:"#.00%"}, "个体数量", {dataField:"个体占比",format:"#.00%"}];
        summarys={};
        var gd=getDataTable(p, 'gridContainer-1',filename, cols,summarys);
    });
    $('#monpxzqh_btn').click(function() {
        var p = {
            methodname: 'monpxzqh',
            parameters: '{"endtime":"' + $('#monpxzqh_dt').val() + '","qianhai":"' + $("#monpxzqh_cb").prop('checked') + '"}'
        }
        var filename="截止到"+$('#monpxzqh_dt').val()+"各区划存量分布"
        var cols = ["区域","主体总量","企业","个体",{dataField:"总量市占比",format:"#.00%"},{dataField:"企业市占比",format:"#.00%"},{dataField:"个体市占比",format:"#.00%"}];
        var summarys={texts:{count:"",sum:"{0}"},totalItems:[{column:"区域",summaryType:"count",valueFormat:"合计"},{column:"主体总量",summaryType:"sum"},{column:"企业",summaryType:"sum"},{column:"个体",summaryType:"sum"},{column:"总量市占比",summaryType:"sum",valueFormat:"percent"},{column:"企业市占比",summaryType:"sum",valueFormat:"percent"},{column:"个体市占比",summaryType:"sum",valueFormat:"percent"}]};
        var tbdata=getDataTable(p, 'gridContainer-2',filename, cols,summarys);
        var series=[{argumentField:"区域",valueField:"主体总量",label:{visible:true,connector:{visible:true,width:0.5},format:"fixedPoint",customizeText:function(point){return point.argumentText+":"+point.percentText;}}}]        
        getPieChart(p,'chartContainer-2',"截止到"+$('#monpxzqh_dt').val()+"各区划主体总量分布图",[{argumentField:"区域",valueField:"主体总量",label:{visible:true,connector:{visible:true,width:0.5},format:"fixedPoint",customizeText:function(point){return point.argumentText+":"+point.percentText;}}}],tbdata);
        getPieChart(p,'chartContainer-3',"截止到"+$('#monpxzqh_dt').val()+"各区划企业总量分布图",[{argumentField:"区域",valueField:"企业",label:{visible:true,connector:{visible:true,width:0.5},format:"fixedPoint",customizeText:function(point){return point.argumentText+":"+point.percentText;}}}],tbdata);
        getPieChart(p,'chartContainer-4',"截止到"+$('#monpxzqh_dt').val()+"各区划个体总量分布图",[{argumentField:"区域",valueField:"个体",label:{visible:true,connector:{visible:true,width:0.5},format:"fixedPoint",customizeText:function(point){return point.argumentText+":"+point.percentText;}}}],tbdata);
    });    
    </script>
</body>
</html>
